# CS-UY 3943 - Introduction of Data Science
## Week 3: Working with Data in Python

Please edit the cell below to add your name, NetID, assigned group, and group members for this assignment.* **Complete this section before proceeding to the assignment questions.**

Name: Lenny Remache
NetID: ljr381 
Group (Letter): B
Group Member 1:  Rosio Angeles
Group Member 2:  Kevin Song
***

In [92]:
# You might find these packages useful. You may import any others you want!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# function below displays plots directly in notebook
%matplotlib inline

1\. Load the data set `"ads_dataset.tsv"` and load it into a `pandas` `DataFrame` named `ads`. `.tsv` indicates the file is "tab-separated". See the [documentation for `pandas.read_csv`](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) which describes how to handle files that are not comma separated.

In [93]:
# load dataset here
ads = pd.read_csv('ads_dataset.tsv', sep = '\t')

adsTemp = ads

adsTemp.head()

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
0,0,NaN,1,0.0,0.0,0.0,0.0000,106,106,0,0,169,2130,0
1,0,NaN,1,0.0,0.0,0.0,0.0000,72,72,0,0,154,1100,0
2,0,NaN,1,0.0,0.0,0.0,0.0000,5,5,0,0,4,12,0
3,0,NaN,1,0.0,0.0,0.0,0.0000,6,6,0,0,150,539,0
4,0,NaN,2,0.0,0.5,0.0,-101.1493,101,101,0,1,103,362,0

2\. Write a Python function called `get_df_summary()` that does the following:
- Takes as input a `DataFrame`
- For each variable in the `DataFrame` calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new `DataFrame`. Each row of the `DataFrame` should be a variable from the input `DataFrame`, and the columns should be the new summary features. The `.transpose()` method defined for the pandas `DataFrame` class will be useful here.
- Returns this new `DataFrame` containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [115]:
# define get_df_summary() here
def get_df_summary(df):
    
    new_df = df.describe().transpose()
    
    number_nan = df.isna().sum()
    
    df = df.fillna(0)

    number_distinct = []
    for column in df.columns:
        number_distinct.append(df[column].nunique())
        
    new_df['number_distinct'] = number_distinct
    new_df['number_nan'] = number_nan.transpose()
    
    return new_df
        
summary = get_df_summary(adsTemp)
print(summary)

                       count        mean          std       min    25%    50%  \
isbuyer              54584.0    0.042632     0.202027    0.0000    0.0    0.0
buy_freq              2327.0    1.240653     0.782228    1.0000    1.0    1.0
visit_freq           54584.0    1.852777     2.921820    0.0000    1.0    1.0
buy_interval         54584.0    0.210008     3.922016    0.0000    0.0    0.0
sv_interval          54584.0    5.825610    17.595442    0.0000    0.0    0.0
expected_time_buy    54584.0   -0.198040     4.997792 -181.9238    0.0    0.0
expected_time_visit  54584.0  -10.210786    31.879722 -187.6156    0.0    0.0
last_buy             54584.0   64.729335    53.476658    0.0000   18.0   51.0
last_visit           54584.0   64.729335    53.476658    0.0000   18.0   51.0
multiple_buy         54584.0    0.006357     0.079479    0.0000    0.0    0.0
multiple_visit       54584.0    0.277444     0.447742    0.0000    0.0    0.0
uniq_urls            54584.0   86.569343    61.969765   -1.0000   30.0   75.0
num_checkins         54584.0  720.657592  1275.727306    1.0000  127.0  319.0
y_buy                54584.0    0.004635     0.067924    0.0000    0.0    0.0

                            75%          max  number_distinct  number_nan
isbuyer                0.000000      1.00000                2           0
buy_freq               1.000000     15.00000               11       52257
visit_freq             2.000000     84.00000               64           0
buy_interval           0.000000    174.62500              295           0
sv_interval            0.104167    184.91670             5886           0
expected_time_buy      0.000000     84.28571              348           0
expected_time_visit    0.000000     91.40192            15135           0
last_buy             105.000000    188.00000              189           0
last_visit           105.000000    188.00000              189           0
multiple_buy           0.000000      1.00000                2           0
multiple_visit         1.000000      1.00000                2           0
uniq_urls            155.000000    206.00000              207           0
num_checkins         802.000000  37091.00000             4628           0
y_buy                  0.000000      1.00000                2           0

3\. How long does it take for your `get_df_summary()` function call to execute when the `ads` `DataFrame` is passed as the function argument? Show us the results below.

Hint: `%timeit get_df_summary(ads)`

In [116]:
# time get_df_summary() here

%timeit get_df_summary(adsTemp)

27.2 ms ± 186 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

<p>
<span style="color:blue">
<em>
Type answer here
</em>
</span>
</p>

4\. Using the results returned from `get_df_summary()`, which columns from the ads dataset, if any, contain missing `NaN` values?

In [118]:
# write code to identify columns here
i = 0
for val in summary['number_nan']:
    if val > 0:
        print(summary.index[i])
        break
    i += 1

buy_freq

<p>
<span style="color:blue;">
<em>
Type answer here
</em>
</span>
</p>

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? If missing, what should the data value be?

**Hint**: create another data frame that has just the records with a missing value. Get a summary of this data frame using `get_df_summary()` and compare the differences. Do some feature distributions change dramatically?

In [11]:
# write code here
another_df = ads[ads['buy_freq'].isna()]

get_df_summary(another_df)

,count,mean,std,min,25%,50%,75%,max,number_distinct,number_nan
isbuyer,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,1,0
buy_freq,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,52257
visit_freq,52257.0,1.651549,2.147955,1.0000,1.0,1.0,2.000000,84.00000,48,0
buy_interval,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,1,0
sv_interval,52257.0,5.686388,17.623555,0.0000,0.0,0.0,0.041667,184.91670,5112,0
expected_time_buy,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,1,0
expected_time_visit,52257.0,-9.669298,31.239030,-187.6156,0.0,0.0,0.000000,91.40192,13351,0
last_buy,52257.0,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,189,0
last_visit,52257.0,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,189,0
multiple_buy,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,1,0
multiple_visit,52257.0,0.255602,0.436203,0.0000,0.0,0.0,1.000000,1.00000,2,0
uniq_urls,52257.0,86.656180,61.996711,-1.0000,30.0,75.0,155.000000,206.00000,207,0
num_checkins,52257.0,721.848518,1284.504018,1.0000,126.0,318.0,803.000000,37091.00000,4570,0
y_buy,52257.0,0.003024,0.054904,0.0000,0.0,0.0,0.000000,1.00000,2,0

<p>
<span style="color:blue">
<em>
Type answer here 
</em>
</span>
</p>

6\. Which variables are binary?

In [ ]:
# write code here

<p>
<span style="color:blue">
<em>
Type answer here
</em>
</span>
</p>

7\. Let's take a deeper look into one of the features, `num_checkins`. Let's try and understand the distribution of this field. We can do this using the `hist()` method and matplotlib. Draw a histogram graph of `num_checkins` from the dataframe `ads`, set the title of the graph as `'Histogram of Number of Checkins'`.

In [ ]:
# write and execute histogram code here

8\. How would you characterize the shape of this distribution? Is there anything we can do to the `num_checkins` variable to make the distribution more bell shaped? 

**Hint**: Let's create a new column in the dataframe called `'log_num_checkins'` and print a histogram `'Histogram of Log(Num Checkins)'` of it. What might be some advantages of making such a transformation?

<p>
<span style="color:blue">
<em>
Describe distribution here
</em>
</span>
</p>

In [ ]:
# write code here

<p>
<span style="color:blue">
<em>
Discuss transformation here
</em>
</span>
</p>